<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Grumble?</title>
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
  
  <section class="main-header">
    <img src="<%= asset_path "neko.jpg" %>">  
  </section>
  <section class="about">
    <h1>あなたの裏の顔見せてください . . .</h1>
    <br>
    <h3>普段言えないような不満や愚痴、ここで吐き出そう！！</h3>
    <br>
    <h3>
      Let's grumble motherfuckers!!!!
    </h3>
  </section>
  
</body>
</html>
